@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: blue;
    width: 100%;
}

html,
body,
#root {
    height: 100%;
}

.App {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 40%;
    align-items: center;
    font-size: 35px;
}

#name {
    font-size: 100px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-size: 30px;
}

a {
    display: block;
}

.section-header {
    font-size: 40px;
}
