.home-container {
    position: relative;
    min-height: 100vh;
    padding: 50px 40px;
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container .logo {
    position: inherit;
    margin-top: -50px;
    height: 520px;
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    user-select: none;
}

.home-container .logo .main-img {
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
}

.home-container .logo .main-img.active {
    animation: spin 8s linear 1s infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
@keyframes spin2 {
    to {
        transform: rotate(-360deg);
    }
}

.main-img.active .test {
    z-index: 10000;
    animation: spin2 8s linear 1s infinite;
}

.tests {
    animation: spin2 8s linear 1s infinite;
}

.home-container .logo .circle {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
    opacity: 0;
}

.home-container .logo .main-img.active .circle {
    opacity: 1;
}

.home-container .logo .main-img.active .circle:nth-child(1) {
    position: absolute;
    transform: translateY(-210%);
}

.home-container .logo .main-img.active .circle:nth-child(1) .inner {
    background: url(../props/react.png);
    animation: spin2 8s linear 1s infinite;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.home-container .logo .main-img.active .circle:nth-child(2) {
    position: absolute;
    transform: translate(150%, -150%);
}

.home-container .logo .main-img.active .circle:nth-child(2) .inner {
    background: url(../props/javascript.png);
    animation: spin2 8s linear 1s infinite;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.home-container .logo .main-img.active .circle:nth-child(3) {
    position: absolute;
    transform: translateX(-210%);
}

.home-container .logo .main-img.active .circle:nth-child(3) .inner {
    background: url(../props/node.png);
    animation: spin2 8s linear 1s infinite;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.home-container .logo .main-img.active .circle:nth-child(4) {
    position: absolute;
    transform: translate(150%, 150%);
}

.home-container .logo .main-img.active .circle:nth-child(4) .inner {
    background: url(../props/css.png);
    animation: spin2 8s linear 1s infinite;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.home-container .logo .main-img.active .circle:nth-child(5) {
    position: absolute;
    transform: translateY(210%);
}

.home-container .logo .main-img.active .circle:nth-child(5) .inner {
    background: url(../props/sql.png);
    animation: spin2 8s linear 1s infinite;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.home-container .logo .main-img.active .circle:nth-child(6) {
    position: absolute;
    transform: translate(-150%, 150%);
}

.home-container .logo .main-img.active .circle:nth-child(6) .inner {
    background: url(../props/mongo.png);
    animation: spin2 8s linear 1s infinite;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.home-container .logo .main-img.active .circle:nth-child(7) {
    position: absolute;
    transform: translateX(210%);
}

.home-container .logo .main-img.active .circle:nth-child(7) .inner {
    background: url(../props/html.png);
    animation: spin2 8s linear 1s infinite;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.home-container .logo .main-img.active .circle:nth-child(8) {
    position: absolute;
    transform: translate(-150%, -150%);
}

.home-container .logo .main-img.active .circle:nth-child(8) .inner {
    background: url(../props/git.png);
    animation: spin2 8s linear 1s infinite;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.home-container img {
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px solid rgb(108, 161, 197);
    transform: translate(-200px);
    opacity: 0;
    animation: fade-in 1s ease 1 0.5s forwards;
}

@keyframes fade-in {
    to {
        transform: translate(0);
        opacity: 1;
    }
}

.home-container h2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    margin-top: 50px;
}

.home-container h2 span {
    font-size: 25px;
    opacity: 0.8;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--color-pri);
    font-family: "Open Sans Condensed", sans-serif;
}

.home-container h2 p {
    font-size: 20px;
    opacity: 1;
    font-weight: 100;
    margin-top: 1px;
    font-family: "Open Sans", sans-serif;
}

.scroll-down {
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.scroll-down hr {
    background-color: blue;
    width: 20px;
}

.scroll-down h5 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 100;
}

.scroll-down .scroll {
    transform: rotate(-90deg);
    font-size: 100;
}
